@model StockItem

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar nuevo stock</h1>

@if (!string.IsNullOrEmpty(ViewBag.YaExiste))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.YaExiste  
        @Html.ActionLink("Editar", "Edit", new { idProd = Model.ProductoId, idSuc = Model.SucursalId })
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label">Producto</label>
                <select asp-for="ProductoId" class ="form-control" asp-items="ViewBag.ProductoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SucursalId" class="control-label">Sucursal</label>
                <select asp-for="SucursalId" class ="form-control" asp-items="ViewBag.SucursalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al stock</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
