@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div>
}



<div class="text-center">
    <h1 class="display-4">Carrito</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
